* {
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 0.55rem;
    padding-top: 0.8rem;
    overflow-x: hidden;
    box-sizing: border-box;
}
#app{
    width: 100%;
    height: 100%;
    overflow: auto;
}
ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:link {
    color: #000;
}

a:visited {
    color: #000;
}

a:hover, a:active, a:focus {
    color: #000;
    text-decoration: none;
}

input {
    outline: none;
}

button {
    border: 0;
    outline: none;
}

.text-center {
    text-align: center;
}

.marginAuto {
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* 头部 */

header {
    width: 100%;
    height: 0.8rem;
    /* line-height: 0.6rem; */
    padding-top: 0.25rem;
    box-sizing: border-box;
    background-color: #013065;
    background-image: url(../images/logo_03.png);
    background-size: 0.55rem;
    background-position: 0.2rem center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.serchForm {
    position: absolute;
    right: 0.6rem;
}

.serchForm .form {
    position: relative;
    display: flex;
}

.serchForm input {
    width: 1.4rem;
    height: 0.3rem;
    font-size: 0.12rem;
    border: 0;
    background-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    color: #fff;
    padding: 0 0.08rem 0 0.28rem;
    border-top-left-radius: 0.08rem;
    border-bottom-left-radius: 0.08rem;
}

.serchForm button {
    width: 0.15rem;
    height: 100%;
    background-color: inherit;
    background-image: url(../images/serch.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    position: absolute;
    /* right: 0.64rem; */
    left: 0.05rem;
    top: 0;
}
.serchForm span{
    font-size: 0.12rem;
    color: #fff;
    display: block;
    background-color: rgba(255,255,255,0.4);
    padding-right: 0.08rem;
    padding-left: 0.08rem;
    line-height: 0.3rem;
    border-top-right-radius: 0.08rem;
    border-bottom-right-radius: 0.08rem;
}
.topButton {
    height: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 0.2rem;
    z-index: 10;
}

.topButton button {
    width: 0.15rem;
    height: 0.15rem;
    background-color: inherit;
    background-image: url(../images/home.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.topButton .return {
    background-image: url(../images/return.png);
    margin-left: 0.175rem;
}

footer {
    width: 100%;
    height: 0.45rem;
    font-size: 0.12rem;
    color: #fff;
    background-color: #013065;
    position: fixed;
    bottom: 0;
    z-index: 10000;
}

footer ul, footer li {
    height: 100%;
}

footer ul li a {
    display: block;
    height: 100%;
    padding-top: 0.04rem;
    box-sizing: border-box;
    color: #fff!important;
}

footer ul li {
    width: 25%;
    display: block;
    float: left;
}
footer ul li.active{
    background-color: rgba(255, 255, 255, 0.2);
}
footer ul li.active .img1{
    display: none;
}
footer ul li.active .img2{
    display: inline-block;
}
footer ul li .img1{
    display: inline-block;
}
footer ul li .img2{
    display: none;
}
footer ul li img {
    width: 0.145rem;
}

footer ul li.center a img {
    width: 0.575rem;
    margin-top: -0.22rem;
}

footer ul li a {
    position: relative;
}

footer ul li a p {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
}

.content {
    width: 3.6rem;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (max-width:360px) {
    footer {
        height: 0.45rem;
    }
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;

    background-color: rgba(255,255,255,0.9);
    background-image: url(../images/loading.gif);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1000;
    top: 0;
    left: 0;
    display: none;
}

/* 小标题 */

h4.pointer {
    font-size: 0.14rem;
    line-height: 0.25rem;
    display: flex;
    justify-content: space-between;
    margin: 0.2rem -0.05rem;
}

.pointer a {
    color: #fff;
}

.pointer-left, .pointer-right {
    background-color: #013065;
    width: 1.2rem;
    height: 0.25rem;
    position: relative;
    box-shadow: 0 0.02rem 0.1rem -0.02rem #111;
}

.pointer-left:after {
    display: block;
    width: 0;
    height: 0;
    border-top: 0.05rem solid #013065;
    border-left: 0.05rem solid transparent;
    content: " ";
    position: absolute;
    bottom: -0.05rem;
    left: 0;
}

.pointer-right:after {
    display: block;
    width: 0;
    height: 0;
    border-top: 0.05rem solid #013065;
    border-right: 0.05rem solid transparent;
    content: " ";
    position: absolute;
    bottom: -0.05rem;
    right: 0;
}
.dw ,.android-ics .dww .dw-li,.android-ics .dwv,.dwbg .dwb{
    font-size: 0.12rem;
}
.dwwr{
    width: 2.58rem!important;
}
.android-ics .dw .dwb,.android-ics .dwv{
    height: 0.36rem;
    line-height: 0.36rem;;
}