.tabdiv{
    width: 96%;
    margin: 0 auto;
    margin-top: 0.85rem;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.tabdiv h2 {
    border:1px solid rgba(255,255,255,1);
    opacity:1;
    border-radius:2px;
    width:  25%;
    box-sizing: border-box;
    height: 0.28rem;
    font-size: 0.12rem;
    margin: 0;
    float: left;
    text-align: center;
    color: #fff;
    font-weight: normal;
    line-height: 0.28rem;
    border-bottom: 0;
    background: none;
}

.tab-content {
    /* border: solid cornflowerblue 1px; */
    width: 100%;
    padding-top: 0.28rem;
}

.tab-content .tdiv{
    display: none;
}

.tabdiv .selected {
    background:#47678f!important;
    border:1px solid #47678f!important;
}

.tab-content .show{
    display: block;
}
.tab-content input{
    width: 100%;
    height: 0.32rem;
    background: none;
    padding-left: 0.13rem;
    box-sizing: border-box;
    font-size: 0.12rem;
    color: #BFB7B7;
    border-radius: 2px;
    border:1px solid rgba(255,255,255,1);
}
.tab-content button{
    width: 100%;
    height:0.34rem;
    background:rgba(255,255,255,1);
    border:1px solid rgba(255,255,255,1);
    opacity:1;
    border-radius: 2px;
    color: #194373;
    font-size: 0.12rem;
}
.box ul{
    margin: 0 auto;
    font-size: 0.14rem;
}
.showHistory{
    display: none;
}
.showHistory .list{
    width: 100%;
    height: 0.28rem;
    line-height: 0.28rem;
    border:1px solid #fff;
    border-top: 0;
    overflow: hidden;
    font-size: 0.12rem;
    color: #fff;
    box-sizing: border-box;
}
.showHistory .list .left{
    padding-left: 0.1rem;
}
.showHistory .list .right{
    width: 0.5rem;
    text-align: center;
    padding-right: 0.1rem;
}
.showHistory .list .right img{
    width: 0.15rem;
    margin-top: 0.06rem;
}