
.supervision{
    margin-top: 0.24rem;
    padding-top: 0.175rem;
}
.supervision .tip{
    height: 0.3rem;
    border:2px solid #013065;
    position: relative;
    background-color: #194373;
}
.supervision .tip .radios{
    width: 0.66rem;
    height: 0.66rem;
    overflow: hidden;
    border: 2px solid #174272;
    background-color: #194373;
    border-radius: 50%;
    position: absolute;
    top: -0.18rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.supervision .tip .radios h2{
    height: 50%;
    text-align: center;
    font-size: 0.14rem;
    font-weight: normal;
    line-height: 0.48rem;
    color: #013065;
    background-color: #fff;
}
.superContent{
    border: 2px solid #fff;
    border-top: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #013065;
}
.superContent ul{
    padding-top: 0.1rem;
}
.superContent ul li{
    height: 0.35rem;
    line-height: 0.35rem;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    color: #fff;
    font-size: 0.12rem;
}
.superContent ul li .left,.superContent ul li .right{
    display: flex;
    padding-left: 0.1rem;
}
.superContent ul li .left p{
    width: 0.065rem;
    height: 0.065rem;
    margin: 0 0.055rem;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    align-self: center;
}
.superContent ul li .right p,.superContent ul li .right img{
    display: inline-block;
}
.superContent ul li .right p{
    height:0.15rem;
    padding: 2px 5px;
    line-height: 0.15rem;
    background-color: #fff;
    border-radius: 10px;
    color: #EE5C5C;
    align-self: center;
   display: flex;
}
.superContent ul li .right img{
    width:0.17rem;
    height:0.09rem;
    align-self: center;
    margin-left: 0.06rem;
    margin-right: 0.02rem;
}
.superContent ul li .right a{
    color: #fff;
    margin-right: 0.075rem;
}
.superContent ul li .right p img{
    width: 0.11rem;
    height: 0.11rem;
    margin: 0;
    margin-right: 5px;
    align-self: center;
}
.superContent ul li a {
    display:inline-block;
}
.superContent ul li a p{
    width: 0.065rem;
    height: 0.065rem;
    margin: 2px;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    align-self: center;
}
.superContent ul li.text-center a img{
    width: 0.18rem;
    padding-top: 0.08rem;
}


.tabdiv{
    width: 3.6rem;
    margin: 0 auto;
    margin-top: 0.1rem;
    position: relative;
    z-index: 2;
    overflow: hidden;
   
}
.tabdiv h2 {
    opacity: 1;
    border-radius: 0.06rem;
    width: 50%;
    box-sizing: border-box;
    height: 0.4rem;
    font-size: 0.14rem;
    margin: 0;
    float: left;
    text-align: center;
    font-weight: normal;
    line-height: 0.4rem;
    border-bottom: 0;
    color: #013065;
    background-color: rgb(216, 215, 215);
}

.tab-content {
    /* border: solid cornflowerblue 1px; */
    width: 100%;
    padding-top: 0.28rem;
}

.tab-content .tdiv{
    display: none;
}

.tabdiv .selected {
    background:#013065;
    border-bottom: 1px solid #eee;
    color: #fff;
}

.tab-content .show{
    display: block;
}