.serch-index{
    width: 2rem;
    position: absolute;
    top: 1.75rem;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.serch-index input{
    height: 0.25rem;
    width: 100%;
    padding: 0 0.26rem 0 0.1rem;
    box-sizing: border-box;
    border-radius: 0.08rem;
    color: #fff;
    border: 0;
    font-size: 0.12rem;
    background-color: rgba(255, 255, 255, 0.2);
}
.serch-index button{
    width: 0.2rem;
    height: 0.2rem;
    position: absolute;
    top: 0.02rem;
    right: 0.05rem;
    background-color: inherit;
    background-image: url(../images/serch.png);
    background-position: center center;
    background-size: 80%;
    background-repeat: no-repeat;
}
.serch-content {
    width: 3.6rem;
    position: absolute;
    top: 2.1rem;
    padding: 0.1rem;
    box-sizing: border-box;
    color: #fff;
    font-size: 0.12rem;
    background-color: #013065;
    margin-bottom: 1rem;
}
.serch-content h5{
    font-size: 0.14rem;
    border-bottom: 1px solid #fff;
    height: 0.3rem;
    line-height: 0.3rem;
    font-weight: normal;
}
.serch-content .main-list{
    padding: 0.2rem 0;
    border-bottom: 1px solid #fff;
}
.serch-content .main-list .list-li{
    padding: 0.05rem 0;
}
.serch-content .main-list button{
    margin: 0.05rem;
    margin-left: 0;
    padding: 0.05rem;
    border-radius: 0.05rem;
    background-color: inherit;
    border: 1px solid #fff;
    color: #fff;
    font-size: 0.12rem;
}
.serch-content .lists{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}
.serch-content  h1{
    font-size: 0.13rem;
    margin-bottom: 0.22rem;
    font-weight: normal;
}
.serch-content .lists p{
    width: 0.88rem;
    height: 0.88rem;
    border-radius: 50%;
    border-radius: 50%;
    line-height: 0.88rem;
    border: 1px solid #fff;
    text-align: center;
    margin: 0.06rem;
}
.serch-content .select{
    margin-top:0px;
    outline:none;
    border:0;
    border-radius:4px;
    position:relative;
    background-color: inherit;
    margin-bottom: 0.05rem;
}
.serch-content .select select{
    height:0.3rem;
    -webkit-appearance:none;
    appearance:none;
    border:1px solid #fff;
    font-size:0.12rem;
    padding:0px 0.1rem;
    display:block;
    width:100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-color:inherit;
    color:#fff;
    border-radius:4px;
}
.serch-content .times{
    margin-bottom: 0.05rem;
    overflow: hidden;
}
.serch-content .times input{
    width: 43%;
    height: 0.3rem;
    background-color: inherit;
    border:1px solid #fff;
    font-size:0.12rem;
    padding:0px 0.1rem;
    color: #fff;
    border-radius: 4px;
}
.serch-content .times input::-webkit-input-placeholder{
    color: #fff;
}