
.model{
    padding: 0.2rem 0;
    width: 3.6rem;
    margin: 0.22rem auto;
    background-color: #013065;
    color: #fff;
    border-radius: 0.08rem;
    box-shadow: 0.01rem 0.01rem 0.1rem -0.02rem #333;
}

.table-header{
    font-size: 0.12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.1rem 0.1rem 0.04rem;
}

.table-header .screening-btn{
    padding-right: 0.16rem;
    background: url(../images/screening.png) center right no-repeat;
    background-size: 0.12rem;
}

.table{
    box-sizing: border-box;
    border-color: #eee;
    margin: 0.1rem auto;
}

.table tr{
    height: 0.2rem;
}

.table td,
.table th{
    font-size: 0.12rem;
    vertical-align: center;
    text-align: center;
    width: 1.51rem;
}

.page-select{
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.page-select li{

}

.page-select a{
    display: block;
    width: 0.24rem;
    height: 0.24rem;
    text-align: center;
    line-height: 0.24rem;
    border: 1px solid #999;
    color: #fff;
    border-radius: 50%;
    font-size: 0.12rem;
}

.page-select a.active{
    background-color: #fff;
    color: #013065;
}

/* 弹窗筛选 */
.dialog{
    display: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
}

.dialog-content{
    border-radius: 0.04rem;
    overflow: hidden;
    /* background-color: #f9f9f9; */
    background-color: #e6e7e9;
    width: 3rem;
    margin: 1rem auto;
}

.dialog-header{
    background-color: #e9e9e9;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
    height: 0.4rem;
    font-size: 0.14rem;
    line-height: 0.4rem;
    font-weight: bold;
    text-align: center;
    color: #666;
}

.dialog-btns{
    box-shadow: 0 0 10px #ccc;
    background-color: #e9e9e9;
    margin-top: 0.5rem;
    height: 0.4rem;
    font-size: 0.12rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dialog-btns a{
    color: #666;
    display: block;
    width: 50%;
    line-height: 0.4rem;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    text-align: center;
}

.dialog-btns a+a{
    border-left: 1px solid #ccc;
}

.dialog-btns a:active,
.dialog-btns a:focus,
.dialog-btns a:hover{
    background-color: #013065;
    color: #fff;
}
.dialog .row{
    padding: 0.2rem 0;
    display: flex;
    height: 0.3rem;
    line-height: 0.3rem;
}

.dialog .row-left{
    padding-right: 0.1rem;
    width: 0.8rem;
    text-align: right;
    font-size: 0.12rem;
    color: #999;
}
.dialog .row-right{
    display: flex;
    width: 2rem;
}

.dialog .to{
    color: #999;
    padding: 0 0.04rem;
}

.dialog .row-right input{
    display: block;
    width: 0.76rem;
    border-radius: 0.04rem;
    border: 1px solid #ccc;
    padding: 0 0.05rem;
    background-color: transparent;
    font-size: 0.12rem;
    height: 0.3rem;
    line-height: 0.3rem;
    color: #777;
}